.About-us-section {
    max-width: 50em;
    text-align: justify;
    background-color: white;
    transition: 0.5s;
    border-radius: 0.5em;
    border-left: dotted #ffffff 2px;
    border-right: dotted #ffffff 2px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-display {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5em;
}

.About-us-section p {
    font-size: 16px;
    margin: 0em;
}

.about-us-image {
    width: 380px;
    height: 280px;
    float: right;
    border-radius: 1.5em;
}

.container {
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1em;
    padding-top: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.link-bus {
    color: #F0803C;
}

.link-bus:hover {
    color: #FD5200;
}